.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
.popup h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
.popup p {
    font-size: 16px;
    color: #666;
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  }
  
  
  .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  }